.dataCategorys {
    padding: 30px 30px 30px 30px;
}


.tabela {
    width: 100%;
    padding-top: 30px;
}

.divCard{
    padding: 50px;
    width: 600px;
}

.mat-form-field.mat-form-field{
    width: 500px;
}

.cabecalho{
    padding-top: 30px;
    padding-bottom: 30px;
}


.DivAutoComplete{
    padding-top: 30px;
    padding-bottom: 30px;
}

.AutoCompleteInput{
    width: 500px;
}

.paginator{
    display: flex;
    padding-top: 30px;
    justify-content: center;
}