<div *ngIf="!functions">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div class="dataCategorys">
    <div class="cabecalho">
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile>
                <h2 class="title">Function Sign In</h2>
            </mat-grid-tile>
            <mat-grid-tile>
                <div *ngIf="isAdm">
                    <button mat-stroked-button color="primary" routerLink="/function/newfunction">New Function</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="DivAutoComplete">
        <form>
            <mat-form-field class="AutoCompleteInput">
                <input type="text" placeholder="Enter Function" matInput [formControl]="autoCompleteInput" [matAutocomplete]="auto"/>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let name of NamesFunctions | async" [value]="name">{{ name }}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

    <table mat-table matSort [dataSource]="functions" class="mat-elevation-z8 tabela">
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let functions">{{ functions.description }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
            <td mat-cell *matCellDef="let functions">{{ functions.name }}</td>
        </ng-container>
        <ng-container matColumnDef="normalizedName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NormalizedName</th>
            <td mat-cell *matCellDef="let functions">{{ functions.normalizedName }}</td>
        </ng-container>
        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let functions">
                <div *ngIf="isAdm">
                    <button mat-mini-fab color="primary">
                        <mat-icon [routerLink]="['/function/edit',functions.id]">edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="ShowDialog(functions.id, functions.name)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
    <div class="paginator">
        <mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
</div>