<div *ngIf="!form">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div class="divCard" *ngIf="form">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h3>Update Function {{ nameFunction }}</h3></mat-card-title>
        </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="UpdateCategory()">
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" placeholder="enter the name of the function" required>
                        <mat-error *ngIf="propriedade.name.touched && propriedade.name.invalid">
                            <sup>*</sup> Enter name function
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput type="text" formControlName="description" placeholder="enter the icon cod of the function" required>
                        <mat-error *ngIf="propriedade.description.touched && propriedade.description.invalid">
                            <sup>*</sup> Enter description function
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <div>
                    <button type="submit" mat-stroked-button [disabled]="form.invalid">Atualizar</button>
                    <button mat-stroked-button color="warn" type="button" (click)="BackList()">Back</button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</div>

